<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDUM1JZ_4vQiHlECxMYlQhC6sC-Sv4H98s</string>
	<key>GCM_SENDER_ID</key>
	<string>163823884352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.musaok.yetenekavcisi</string>
	<key>PROJECT_ID</key>
	<string>yetenek-avcisi-b779b</string>
	<key>STORAGE_BUCKET</key>
	<string>yetenek-avcisi-b779b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:163823884352:ios:2c86d04fd8b9d551e5a7a5</string>
</dict>
</plist>